# Titanic - Machine Learning from Disaster

Problem: Titanic from [Kaggle](https://www.kaggle.com/c/titanic/overview)
    
Use machine learning to create a model that predicts which passengers survived the Titanic shipwreck!

In [1]:
# Importing Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load data

train = pd.read_csv("./train.csv")
test  = pd.read_csv("./test.csv")

# Data Dictionary

# survival : Survival (0 = No, 1 = Yes)
# pclass   : Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
# sex      : Sex
# Age      : Age in years
# sibsp    : # of siblings / spouses aboard the Titanic
# parch    : # of parents / children aboard the Titanic
# ticket   : Ticket number
# fare     : Passenger fare
# cabin    : Cabin number
# embarked : Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB